{% extends "layout.html" %}

{% block body %}
    <div>
        <row>
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="jumbotron">
                    <h3>Team Swag Ramon</h3>
                    <br>
                    <p>Developer: Jason Yang</p>
                    <p>Developer: Joey Dyer</p>
                    <p>Developer: Nick Griffin</p>
                    <p>Developer: Rak Garg</p>
                </div>
            </div>
        </row>
        <row>
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="jumbotron">
                    <h3>About the BBI</h3>
                    <br>
                    <p>The BBI was built as a part of the AT&T Big Data Hackathon in San Francisco</p>
                </div>
            </div>
        </row>
    </div>
{% endblock %}
