{% extends "layout.html" %}

{% block body %}
    <div>
        <row>
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="jumbotron">
                    <h3>Team Swag Ramon</h3>
                    <p>Developer: Jason Yang</p>
                    <p>Developer: Joey Dyer</p>
                    <p>Developer: Nick Griffin</p>
                    <p>Complainer: Rak</p>
                </div>
            </div>
        </row>
        <row>
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="jumbotron">
                    <p>Info about the BSI?</p>
                </div>
            </div>
        </row>
    </div>
{% endblock %}