{% extends "layout.html" %}

{% block head %}
<script src='../static/Chart.min.js'></script>
{% endblock %}

{% block body %}
<div class="col-xs-12">
    <row>
        <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
            <h3>Select county and tract to analyze</h3>
            <hr class="col-md-10 col-md-offset-1">
            <row>
                <select name="County" id="countyDropdown" class="selectpicker col-xs-3 col-xs-offset-1" onchange="setTracts()">
                    <option value="County" disabled>County</option>
                    <option value="SF">San Francisco</option>
                    <option value="SR">Contra Costa</option>
                    <option value="SC">Santa Clara</option>
                </select>
                <select name="Tract" id="tractDropdown" class="selectpicker col-xs-2 col-xs-offset-1" onchange="loadData()">
                    <option value="Tract" disabled>Tract</option>
                </select>
                <select name="factors" id="factorDropdown" class="selectpicker col-xs-3 col-xs-offset-1" onchange="loadData()">
                    <option value="income">Household Income</option>
                    <option value="price">Home Value</option>
                </select>
            </row>
        </div>
    </row>

    <row>
        <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
            <h3>[BBI] = <span></span></h3>
        </div>
    </row>

    <row>
        <div class="col-md-10 col-md-offset-1 text-center">
            <h1>Income Level Chart</h1><!-- bar chart canvas element -->
            <canvas id="chart" width="640" height="480"></canvas>
        </div>
    </row>
</div>

{% endblock %}

{% block spells %}
<script>
    function setTracts() {
        var tracts = {{ countyTractMap | safe }};
        var county = tracts[countyDropdown.value];
        tractDropdown.options.length = 0;
        Object.keys(county).forEach(function(value) {
            var x = document.getElementById("tractDropdown");
            var option = document.createElement("option");
            option.text = value;
            option.value = value;
            x.options.add(option);
        });
    }

    function loadData() {
        var ba = {{ bayArea | safe }};
        var county = ba[countyDropdown.value];
        var data = [];
        for (i = 0; i < 5; i++) {
            var n = i + 2010;
            data.push(county[n.toString()][factorDropdown.value][tractDropdown.value])
        }

        // line chart data
        var chartData = {
            labels : ["2010","2011","2012","2013","2014"],
            datasets : [
                {
                    fillColor : "rgba(172,194,132,0.4)",
                    strokeColor : "#ACC26D",
                    pointColor : "#fff",
                    pointStrokeColor : "#9DB86D",
                    data : data
                }
            ]
        }
        var chart = document.getElementById('chart').getContext('2d');
        new Chart(chart).Line(chartData);
    }
</script>
{% endblock %}
