{% extends "layout.html" %}

{% block body %}
    <div>
        <row>
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center jumbotron">
                <h2>Welcome to the Bull Shit Index (BSI)</h2>
                <h1>💩</h1>
            </div>
        </row>
        <row>
            <div class="col-md-3 col-md-offset-2 col-xs-6 text-center card">
                <h3>Charts</h3>
                <img class="card-img-top img-responsive" src="./static/img/chart.png" alt="Chart">
                <div class="card-block">
                  <p class="card-text">Charts let you analyze data by neighborhoods.</p>
                  <a href="/chart" class="btn btn-primary">Go to Charts</a>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2 col-xs-6 text-center card">
                <h3>Map</h3>
                <img class="card-img-top img-responsive" src="./static/img/map.png" alt="Map">
                <div class="card-block">
                  <p class="card-text">The map plots the BSI on a map.</p>
                  <a href="/map" class="btn btn-primary">Go to Map</a>
                </div>
            </div>
        </row>
    </div>
{% endblock %}
