{% extends "layout.html" %}

{% block body %}
    <div>
        <row>
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center jumbotron">
                <h2>Welcome to the Bull Shit Index (BSI)</h2>
                <h1>💩</h1>
                <p>The BSI is a housing price ananlysis tool. Through statistical analysis and data processing..</p>
            </div>
        </row>
        <row>
            <div class="col-md-3 col-md-offset-2 col-xs-6 text-center card">
                <h3>View Charts</h3>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-2 col-xs-6 text-center card">
                <h3>View Charts</h3>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </row>
    </div>
{% endblock %}