{% extends "layout.html" %}

{% block body %}
<div id="map"></div>
<div class="col-md-12 text-center legend">
  <span style="color: DarkGreen">Excellent</span>
  <span style="color: YellowGreen">Good</span>
  <span style="color: Yellow">Moderate</span>
  <span style="color: Orange">Below Average</span>
  <span style="color: OrangeRed">Bad</span>
  <span style="color: DarkRed">Very Bad</span>
</div>
{% endblock %}

{% block spells %}
<script>

    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: {lat: 37.6, lng: -121.8}
    });

    var sanFrancisco = new google.maps.Data();
    var sanRamon = new google.maps.Data();
    var santaClara = new google.maps.Data();

    function colorizeMap(BSIList, tract, color) {
        var bsiVal = BSIList[tract];
        if (bsiVal > 0.75) {
            color = 'DarkGreen';
        } else if (bsiVal > 0.5) {
            color = 'GreenYellow'
        } else if (bsiVal > 0) {
            color = 'Yellow';
        } else if (bsiVal > -.5) {
            color = 'orange';
        } else if (bsiVal > -.75) {
            color = 'OrangeRed';
        } else if (bsiVal < -.75) {
            color = 'DarkRed';
        } else {
            color = 'grey';
        }
        return color;
    }

    // NOTE: This uses cross-domain XHR, and may not work on older browsers.
    sanFrancisco.loadGeoJson("{{urlSF}}");
    sanFrancisco.setStyle(function(feature) {
        var tract = feature.getProperty('TRACT');
        var sfBSIList = {{ sfBSIs | safe }};
        var color = colorizeMap(sfBSIList, tract, color);

        return {
          fillColor: color,
          strokeWeight: 0.5
        };
    });

    sanRamon.loadGeoJson("{{urlSR}}");
    sanRamon.setStyle(function(feature) {
        var tract = feature.getProperty('TRACT');
        var srBSIList = {{ srBSIs | safe }};
        var color = colorizeMap(srBSIList, tract, color);

        return {
          fillColor: color,
          strokeWeight: 0.5
        };
    });

    santaClara.loadGeoJson("{{urlSC}}");
    santaClara.setStyle(function(feature) {
        var tract = feature.getProperty('TRACT');
        var scBSIList = {{ scBSIs | safe }};
        var color = colorizeMap(scBSIList, tract, color);

        return {
          fillColor: color,
          strokeWeight: 0.5
        };
    });

    sanFrancisco.setMap(map);
    sanRamon.setMap(map);
    santaClara.setMap(map);
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD15D-YDkctUbztUo2IeDxnXuj3rlBgQsE&callback=initMap">
</script>
{% endblock %}
